body {
    background-color: rgb(251, 255, 255);
    font-family: cursive;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

.heading {
    font-size: 60px;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin-top: 50px;
}

.bingo-card {
    height: 400px;
    width: 400px;
    background-color: rgb(233, 161, 27);
    border-radius: 10px 10px 0 0;
    border: 1px solid black;
    box-shadow: 5px 2px 10px #888888;
}

.bingo-card--red {
    background-color: rgba(255, 99, 71, .8);
}

.bingo-card__header {
    font-size: 50px;
}

.bingo-card__cells {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border: 1px solid black;
    list-style: none;
}

.txt--center {
    text-align: center;
}

.msg {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    font-size: 40px;
}

.bingo-card__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    font-size: 20px;
    text-align: center;
    border: 1px solid black; 
    cursor: pointer; 
}

.mid-panel {
}

.call-box {
    display:flex;
    flex-direction: column;
    position: relative;
    height: 200px;
    width: 300px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgb(171, 183, 195);
}

.btn-box {
    position: relative;
}

.call-box__header {
    font-size: 30px;
    border-bottom: 2px solid black;
    background-color: rgb(156, 167, 179);
    border-radius: 20px 20px 0 0;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.btn {
    width: 150px;
    height: 50px;
    font-size: 20px;
    background-color: rgb(34, 182, 182);
}

.btn--call {
    margin-top: 15px;
}

.btn--reset {
    margin-top: 15px;
}

.bingo-call {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

.bingo-chip {
    display: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    background-color: rgba(255, 99, 71, .8);
    z-index: 10;
    width: 75%;
    height: 75%;
    margin: 0 auto;
}